body {
	margin: 0;
	padding: 0;
	--size: 10vmin;
	--half-size: calc(var(--size) / 2);
}

* {
	-webkit-tap-highlight-color: transparent;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    width: calc(100vw - 10px);
    height: calc(100vh - 10px);
    padding: 5px;
    background-color: #f9f1eb;
}

#no-breast-feeding, #baby-bottle {
	cursor: pointer;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#no-breast-feeding {
    background-color: #f9f1eb;
}

#baby-bottle {
	background-color: #accef7;
}

#breast-feeding {
	background: #f9f1eb;
	padding: 5px 0;
	cursor: pointer;
	flex-grow: 2;
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: stretch;
	gap: 5px;
}

#left-boob, #right-boob {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#left-boob {
	background-color: #ffc0c0;
}

#right-boob {
	background-color: #ffc0c0;
}

#baby {
	position: absolute;
	left: calc(50vw - var(--half-size));
	top: 0;
	width: var(--size);
	height: var(--size);
	background-image: url('assets/baby.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition: top 0.3s, left 0.3s;
}

#drawer {
	background: white;
	position: absolute;
	height: calc(95vh - 30px);
	top: 2.5vh;
	border-bottom-right-radius: 7px;
	border-top-right-radius: 7px;
    box-shadow: 2px 2px 5px #767676;
	left: 0;
	width: 300px;
	max-width: calc(95vw - 30px);
	transition: left 0.3s, width 0.3s;
}

#drawer-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 15px;
	margin: 15px;
    overflow-y: auto;
    height: calc(95vh - 60px);
}

#drawer.closed {
	left: -300px;
    box-shadow: unset;
}

#drawer .drawer-handle-holder {
	cursor: pointer;
	background: white;
	position: absolute;
	height: 20px;
	width: 20px;
	padding: 4px;
	border-bottom-right-radius: 7px;
	border-top-right-radius: 7px;
    box-shadow: 2px 2px 5px #767676;
}

#drawer .drawer-handle-holder.menu {
	left: 100%;
	top: 15px;
}

#drawer .drawer-handle-holder.reset {
	left: 100%;
	bottom: 35px;
}

#drawer .drawer-handle-holder.add-entry {
	left: 100%;
	top: 50px;
}

#drawer .drawer-handle-holder .drawer-handle {
	font-size: 20px;
}

.log-by-day {
	display: flex;
	flex-direction: column;
}

.log-by-day-day {
    color: #767676;
    font-style: italic;
}

.log:nth-child(2n) {
	background: #f9f1eb;
}

#version {
	position: absolute;
	bottom: 5px;
	right: 5px;
	font-size: 12px;
}

.image {
	width: var(--size);
	height: var(--size);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.left-boob-image {
	background-image: url('assets/breastLeft.png');
}

.right-boob-image {
	background-image: url('assets/breastRight.png');
}

.baby-bottle-image {
	background-image: url('assets/babyBottle.png');
}

.empty-image {
	background-image: url('assets/empty.png');
}